/*
@font-face {
    font-family: Azab;
    font-weight:500;
    font-style:normal;
    font-display:auto;
    src: url(azabreg.woff2);
    }

@font-face {
    font-family: Neuemontreal;
    font-weight: 900;
    font-style: normal;
    font-display: auto;
    src: url(neuemontrealbold.otf);
}
*/

@font-face {
    font-family: Radio;
    font-weight: 500;
    font-style: normal;
    font-display: auto;
    src: url(radiogrotesk.otf);
}

body {
    font-family: Radio;
    font-weight: 500;
    font-size: 36px;
    line-height: 1;
    background-color: #ffffff;
    color: #000;
    vertical-align: bottom;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
    border: 0;
    padding: 0;
}

h1 {
    position: relative;
    top: 48px;
    left: 48px;
}

a:link, a:visited {
  color: #000;
  text-decoration: none;
}

a:hover, a:active {
  color: blue;
}

.nevek {
    font-weight: 500;
    font-size: calc(16px + 1vw);
    position: relative;
    top: 60px;
    left: 48px;
}

.container{
    position: relative;
    top: 95px;
    left: 48px;
}

.box {
    position: relative;
    margin: 0px 0px 5% 0px;
    width: 100%;
    display: inline-block;
}

p {
    margin: 0px;
}

.description {
    font-family: Arial;
    font-style: normal;
    font-size: calc(9px + 1vw);
    float: left;
    width: 40%;
    position: relative;
    margin-bottom: 3%;
}

.folia {
    position: relative;
    width:  45%;
    right: 48px;
    margin: 0px 48px 0px 8%;
    float: right;
}


.gallery {
    position: relative;
    width: calc(100% - 96px);
    margin: 8% 48px 0px 48px;

    display: inline;
}

.slick-slide img {
    width: 100%;
    height: auto;
}

.slick-arrow {
    display: none !important;
}

.embed-container {
    position: relative;
    margin-top: 60px;
    margin-bottom: 50px;
    padding-bottom: 50%;
    height: 0;
    overflow: hidden;
    max-height: 1080px;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 48px;
    box-sizing: border-box;
}