@font-face {
    font-family: Radio;
    font-weight: 500;
    font-style: normal;
    font-display: auto;
    src: url(radiogrotesk.otf);
}

body {
    font-family: Radio;
    font-weight: 500;
    font-size: 36px;
    line-height: 1;
    background-color: #ffffff;
    color: #000;
    overflow: hidden;
    margin: 0;
    border: 0;
    padding: 0;
}

h1 {
    position: fixed;
    top: 0px;
    left: 48px;
    z-index: 1;
}

a:link, a:visited {
  color: blue;
  text-decoration: none;
}

a:hover, a:active {
  color: #000;
}

#info {
    position: fixed;
    top: 180px;
    left: 48px;
}

#Dani {
    position: fixed;
    top: 180px;
    right: 48px;
}

#Ricsi {
    position: fixed;
    top: 230px;
    right: 48px;
}

#Eszter {
    position: fixed;
    top: 280px;
    right: 48px;
}

canvas {
    vertical-align: bottom;
    cursor: cell;
}
